#
# please don't remove new line on this file
#

CONFIG_USE_SIGNED_BINARY=n

CONFIG_SEC_GPIO_DVS=y
CONFIG_G2D_SYSTRACE=y
CONFIG_CMUCAL_DEBUG=y
CONFIG_CRYPTO_DISKCIPHER_DEBUG=y
CONFIG_IKCONFIG=y
CONFIG_IKCONFIG_PROC=y
CONFIG_ARM_EXYNOS_DEVFREQ_DEBUG=y
CONFIG_EXYNOS_DPU_SYSTRACE=y

# streamline
CONFIG_PROFILING=y
CONFIG_PERF_EVENTS=y
CONFIG_HIGH_RES_TIMERS=y
CONFIG_HW_PERF_EVENTS=y
CONFIG_LOCAL_TIMERS=y

# CONFIG_GATOR is not set

# UH
# CONFIG_UH_LKM_BLOCK is not set
# CONFIG_KDP_CRED is not set
# CONFIG_KDP_NS is not set
# CONFIG_KDP_DMAP is not set
# CONFIG_RKP_TEST is not set
# CONFIG_KDP_TEST is not set

# SDP KeyManagement Test for MDFPP evaluation
CONFIG_SDP_KEY_DUMP=y

# BPF_debugging
CONFIG_BPF_TRACE_PRINTK_EVERYWHERE=y

# CONFIG_UH_RKP_FIMC_CHECK is not set
