/* SAMSUNG UNIVERSAL9830 board device tree source
 *
 * Copyright (c) 2018 Samsung Electronics Co., Ltd.
 *		http://www.samsung.com
 *
 * This program is free software; you can redistribute it and/or modify
 * it under the terms of the GNU General Public License version 2 as
 * published by the Free Software Foundation.
 */

#include "battery_data_hubble_common.dtsi"

/ {
	fragment@battery {
		target-path = "/";
		__overlay__ {
			battery {
				battery,temp_table_adc = <
					362 423 480 568 654 794 910 1084 1255 1441 1637
					1882 2102 2331 2583 2821 3020 3230 3390 3529 3667>;

				battery,temp_table_data = <
					800 750 700 650 600 550 500 450 400 350 300 250
					200 150 100 50 0 (-50) (-100) (-150) (-200)>;

				battery,usb_temp_table_adc = <
					350 439 508 604 707 836 973 1143 1322 1519 1732
					1959 2188 2417 2646 2863 3065 3255 3406 3530 3636>;

				battery,usb_temp_table_data = <
					800 750 700 650 600 550 500 450 400 350 300 250
					200 150 100 50 0 (-50) (-100) (-150) (-200)>;

				battery,chg_temp_table_adc = <
					298 351 402 486 548 701 780 988 1137 1305 1480
					1754 1982 2154 2471 2661 2903 3130 3273 3478 3609>;

				battery,chg_temp_table_data = <
					800 750 700 650 600 550 500 450 400 350 300 250
					200 150 100 50 0 (-50) (-100) (-150) (-200)>;


				battery,wpc_temp_table_adc = <275 336 415 483 551 667 764 903 1054 1189
					1384 1575 1787 2042 2263 2492 2723 2937 3127 3309 3463 3578 3678>;
				battery,wpc_temp_table_data = <900 850 800 750 700 650 600 550 500 450
					400 350 300 250 200 150 100 50 0 (-50) (-100) (-150) (-200)>;

				battery,dchg_temp_table_adc = <
					113681 138414 161874 192372 215832 272136 314364 408204 466854 539580
					609960 743682 842214 919632 1060392 1144848 1250418 1370064 1412292
					1510824 1578858>;

				battery,dchg_temp_table_data = <
					800 750 700 650 600 550 500 450 400 350 300 250
					200 150 100 50 0 (-50) (-100) (-150) (-200)>;

				battery,temp_check_type = <0>; /* SEC_BATTERY_TEMP_CHECK_TEMP */
				battery,usb_temp_check_type = <0>;
				battery,chg_temp_check_type = <0>;
				battery,wpc_temp_check_type = <0>;
				battery,dchg_temp_check_type = <0>;

				battery,dc_step_chg_cond_vol = <4120 4210 4380>; /*<25w 3step> STEP_CHARGING_CONDITION_VOLTAGE */ 
				battery,dc_step_chg_cond_iin = <2030 1635 0>; /* <25w 3step> STEP_CHARGING_CONDITION_INPUT_CURRENT */
				battery,dc_step_chg_val_vfloat = <4120 4210 4380>; /* <25w 3step> STEP_CHARGING_CONDITION_FLOAT_VOLTAGE */
				battery,dc_step_chg_val_iout = <5280 4060 3250>; /* <25w 3step> */
				battery,dc_step_chg_cond_soc = <20 50 100>; /* <25w 3step> STEP_CHARGING_CONDITION_SOC */
			};

			max77705-fuelgauge {
				fuelgauge,qrtable20 = <0x2800>;
				fuelgauge,qrtable30 = <0x2300>;
				fuelgauge,capacity = <0x0FF8>;
			};

			cable-info {
				default_input_current = <1800>;
				default_charging_current = <2100>;
				full_check_current_1st = <655>;
				full_check_current_2nd = <218>;

				current_group_1 {
					cable_number = <2 19 21 22 23 30>;
					input_current = <500>;
					charging_current = <500>;
				};
				current_group_2 {
					cable_number = <25 31>;
					input_current = <1000>;
					charging_current = <1000>;
				};
				current_group_3 {
					cable_number = <5 32>;
					input_current = <1500>;
					charging_current = <1500>;
				};
				current_group_4 {
					cable_number = <6 7 8>;
					input_current = <1650>;
					charging_current = <3150>;
				};
				current_group_5 {
					cable_number = <9>;
					input_current = <1650>;
					charging_current = <3150>;
				};
				current_group_6 {
					cable_number = <10 12 15 27 33 35>;
					input_current = <900>;
					charging_current = <1400>;
				};
				current_group_7 {
					cable_number = <13>;
					input_current = <700>;
					charging_current = <1400>;
				};
				current_group_8 {
					cable_number = <24>;
					input_current = <1000>;
					charging_current = <450>;
				};
				current_group_9 {
					cable_number = <26>;
					input_current = <2000>;
					charging_current = <1800>;
				};
				current_group_10 {
					cable_number = <11 14 16 28>;
					input_current = <650>;
					charging_current = <1400>;
				};
				current_group_11 {
					cable_number = <29 36 37>;
					input_current = <500>;
					charging_current = <1400>;
				};
				current_group_12 {
					cable_number = <1 4>;
					input_current = <475>;
					charging_current = <550>;
				};
				current_group_13 {
					cable_number = <34>;
					input_current = <500>;
					charging_current = <3150>;
				};
			};
		};
	};
};
