/*
 * SAMSUNG EXYNOS9820 board device tree source
 *
 * Copyright (c) 2018 Samsung Electronics Co., Ltd.
 *		http://www.samsung.com
 *
 * This program is free software; you can redistribute it and/or modify
 * it under the terms of the GNU General Public License version 2 as
 * published by the Free Software Foundation.
*/

/dts-v1/;
/plugin/;
#include "exynos9820-sensorhub.dtsi"
#include "exynos9820-display-lcd.dtsi"
#include "battery_data_beyond2lte_3500mah.dtsi"
#include "exynos9820-beyond2lte_if-pmic-max77705.dtsi"
#include <dt-bindings/clock/exynos9820.h>
#include <dt-bindings/pci/pci.h>
#include "exynos9820-beyond2lte_camera.dtsi"
#include "exynos9820_evt0-beyond2lte_common.dtsi"
#include "exynos9820-beyond2lte_fingerprint_00.dtsi"
#include "exynos9820-beyond2lte_motor.dtsi"
#include "exynos9820-beyond2lte_optics-r03.dtsi"

/ {
	compatible = "samsung,BEYOND2LTE EUR OPEN 17", "samsung,EXYNOS9820";
	dtbo-hw_rev = <17>;
   	dtbo-hw_rev_end = <255>;

	fragment@model {
		target-path = "/";
		__overlay__ {
			#address-cells = <2>;
			#size-cells = <1>;

			model = "Samsung BEYOND2LTE EUR OPEN 17 board based on EXYNOS9820";

		}; /* end of __overlay__ */
	}; /* end of fragment */
}; /* end of root */

&pinctrl_0 {
	dp_hpd: dp_hpd {
		samsung,pins = "gpa2-7";
		samsung,pin-function = <2>; 
		samsung,pin-pud = <0>; 
		};
};  

&displayport {
	pinctrl-names = "default";
	pinctrl-0 = <&dp_hpd>;
};

&pinctrl_6 {
	spi7_bus_suspend: spi7-bus-suspend {
		samsung,pins = "gpp4-2", "gpp4-1", "gpp4-0";
		samsung,pin-function = <0>;	/* INPUT */
		samsung,pin-pud = <1>;		/* DOWN */
		samsung,pin-drv = <0>;
	};
	spi7_cs_suspend: spi7-cs-suspend {
		samsung,pins = "gpp4-3";
		samsung,pin-function = <0>;	/* INPUT */
		samsung,pin-pud = <1>;		/* DOWN */
		samsung,pin-drv = <0>;
	};
};

/* SPI USI_PERIC1_USI06_SPI */
&spi_7 {
	status = "okay";
	/delete-property/ pinctrl-names;
	/delete-property/ pinctrl-0;
	pinctrl-names = "ese_active", "ese_suspend";
	pinctrl-0 = <&spi7_bus &spi7_cs>;
	pinctrl-1 = <&spi7_bus_suspend &spi7_cs_suspend>;

	ese_spi@0 {
		compatible = "ese_p3";
		reg = <0>;
		spi-max-frequency = <13000000>;
		gpio-controller;
		#gpio-cells = <2>;

		p3-vdd-1p8= "VDD_ESE_1P8";

		clocks = <&clock GATE_USI06_USI>, <&clock DOUT_CLK_PERIC1_USI06_USI>;
		clock-names = "pclk", "sclk";
		ese_p3,cs-gpio = <&gpp4 3 0>;

		controller-data {
			samsung,spi-feedback-delay = <0>;
			samsung,spi-chip-select-mode = <0>;
		};
	};
};

&hsi2c_20 {
	gpios = <&gpp5 0 0 &gpp5 1 0>;
	status = "okay";
	clock-frequency = <400000>;

	sec-nfc@27 {
		compatible = "sec-nfc";
		reg = <0x27>;

		interrupts = <2 0 0>;
		interrupt-parent = <&gpa1>;

		sec-nfc,ven-gpio = <&expander_gpios 11 0>;
		sec-nfc,irq-gpio = <&gpa1 2 0>;
		sec-nfc,firm-gpio = <&expander_gpios 9 0>;
		sec-nfc,clk_req-gpio = <&gpa2 6 0xf>;
		sec-nfc,clk_use = <2>;
		sec-nfc,nfc_pvdd = "VDD_NFC_1P8";

		clocks = <&clock OSC_NFC>;
		clock-names = "oscclk_nfc";
		sec-nfc,nfc_ap_clk;
		sec-nfc,ldo_control;
	};
};

&spi_17 {
	BCM4773@0 {
		ssp-acc-position = <7>;
		ssp-mag-position = <7>;
		ssp-mag-array = /bits/ 8 <253 81 227 2 33 245 255 40 210 54 99 93 22 178 0 177 255 189 176 138 192
					252 206 156 13 155 175>;
		ssp-thermi-up = /bits/ 16 <2995 2964 2926 2883 2822 2750 2670 2564 2450 2320 2178 2020 1860 1700
					1540 1377 1218 1079 999 834 753 647 566>;
		ssp-thermi-sub = /bits/ 16 <2986 2953 2918 2873 2810 2741 2656 2552 2441 2312 2171 2015 1857 1698
					1537 1377 1217 1083 1003 845 758 654 575>;
	};
};

&hsi2c_10 {
	status = "okay";
	touchscreen@48 {
		sec,bringup = <1>;
	};
};
