/*
 * SAMSUNG EXYNOS9820 board device tree source
 *
 * Copyright (c) 2018 Samsung Electronics Co., Ltd.
 *		http://www.samsung.com
 *
 * This program is free software; you can redistribute it and/or modify
 * it under the terms of the GNU General Public License version 2 as
 * published by the Free Software Foundation.
*/

/dts-v1/;
/plugin/;
#include "exynos9820-sensorhub.dtsi"
#include "exynos9820-display-lcd.dtsi"
#include "battery_data_beyond2lte_18.dtsi"
#include "exynos9820-beyond2lte_if-pmic-max77705.dtsi"
#include <dt-bindings/clock/exynos9820.h>
#include <dt-bindings/pci/pci.h>
#include "exynos9820-bootargs_ext.dtsi"
#include "exynos9820-beyond2lte_camera.dtsi"
#include "exynos9820_evt0-beyond2lte_common.dtsi"
#include "exynos9820-beyond2lte_fingerprint_00.dtsi"
#include "exynos9820-beyond2lte_optics-r00.dtsi"

/ {
	compatible = "samsung,BEYOND2LTE EUR OPEN 00", "samsung,EXYNOS9820";
	dtbo-hw_rev = <0>;
    	dtbo-hw_rev_end = <1>;

	fragment@model {
		target-path = "/";
		__overlay__ {
			#address-cells = <2>;
			#size-cells = <1>;

			model = "Samsung BEYOND2LTE EUR OPEN 00 board based on EXYNOS9820";
			
			pinctrl@15850000 {
				bt_hostwake: bt-hostwake {
					samsung,pins = "gpa2-3";
					samsung,pin-function = <0>;
					samsung,pin-pud = <0>;
				};
			};

			pinctrl@10430000 {
				bt_btwake: bt-btwake {
					samsung,pins = "gpg2-0";
					samsung,pin-function = <1>;
					samsung,pin-pud = <0>;
					samsung,pin-con-pdn = <3>;
					samsung,pin-pud-pdn = <0>;
				};
			};

			bluetooth {
				compatible = "samsung,bcm43xx";
				gpios = <&expander_gpios 7 0    /*BT_EN*/
				&gpg2 0 0    /*BT_WAKE*/
				&gpa2 3 0xF    /*BT_HOST_WAKE*/ >;
				pinctrl-names = "default";
				pinctrl-0=<&bt_hostwake &bt_btwake>;
				status = "okay";
			};

		}; /* end of __overlay__ */
	}; /* end of fragment */

	fragment@camera {
		target-path = "/";
		__overlay__ {
			/* Ultra Wide CAMERA */
			fimc_is_sensor_3p9: fimc-is_sensor_3p9@2D {
				power_seq_id = <1>;
			};
		}; /* end of __overlay__ */
	}; /* end of fragment */
}; /* end of root */

&pinctrl_0 {
	dp_hpd: dp_hpd {
		samsung,pins = "gpa2-7";
		samsung,pin-function = <2>; 
		samsung,pin-pud = <0>; 
		};
};  

&displayport {
	pinctrl-names = "default";
	pinctrl-0 = <&dp_hpd>;
};

&pinctrl_0 {
	s-pmic-irq {
		samsung,pins = "gpa4-1";
	};
};

&speedy1 {
	s2mps20mfd@00 {
		s2mps20,irq-gpio = <&gpa4 1 0>;
		interrupt-parent = <&gpa4>;
	};
};

&pinctrl_2 {
	amp-int {
		samsung,pins = "gpm24-0", "gpm25-0";
		samsung,pin-pud = <0>;
	};
};

&hsi2c_38 {
	cs35l41@40 {
		interrupt-parent = <&gpm24>;
		interrupts = <0 0 0>;
		reset-gpios = <&expander_gpios 14 0>;
	};

	cs35l41@41 {
		interrupt-parent = <&gpm25>;
		interrupts = <0 0 0>;
		reset-gpios = <&expander_gpios 15 0>;
	};
};

&hsi2c_10 {
	samsung,no-dev-restart;		/* ONLY for LSI IC Y761 : LP & Nack */
	touchscreen@48 {
		sec,project_name = "Star2", "G965";
		sec,bringup = <1>;
	};
};

&spi_17 {
	BCM4773@0 {
		ssp-acc-position = <7>;
		ssp-mag-position = <7>;
		ssp-mag-array = /bits/ 8 <253 81 227 2 33 245 255 40 210 54 99 93 22 178 0 177 255 189 176 138 192
					252 206 156 13 155 175>;
		ssp-thermi-up = /bits/ 16 <2995 2964 2926 2883 2822 2750 2670 2564 2450 2320 2178 2020 1860 1700
					1540 1377 1218 1079 999 834 753 647 566>;
		ssp-thermi-sub = /bits/ 16 <2986 2953 2918 2873 2810 2741 2656 2552 2441 2312 2171 2015 1857 1698
					1537 1377 1217 1083 1003 845 758 654 575>;
	};
};

&usbdrd_phy0 {
	reverse_con_dir = <1>;
};

/* PERIC1 CAM1 */
&hsi2c_1 {
	status = "disabled";
};

/* PERIC1 CAM2 */
&hsi2c_2 {
	#address-cells = <1>;
	#size-cells = <0>;

	fimc-is-3p9@2D {
		compatible = "samsung,exynos5-fimc-is-cis-3p9";
		reg = <0x2D>; /* 1 bit right shift */
		id = <4>; /* matching fimc_is_sensor id */
		setfile = "setA";
		status = "okay";
	};

	rear2_eeprom@51 { /* Ultra wide eeprom */
		compatible = "samsung,rear2-eeprom-i2c";
		reg = <0x51>;

		rom_power_position = <4>;
		rom_size = <0x4000>;
		cal_map_es_version = <10>;
		camera_module_es_version = "A";
		/*skip_cal_loading;*/

		/* Beyond_Rear_Cal_Map_V010_20180709_for_ALL */
		/* 0 header */
		header_crc_check_list = <0x0000 0x00FB 0x00FC>;
		/* 0 master LSC */
		/* 1 master all */
		crc_check_list = <0x0100 0x1AFB 0x1AFC
							0x2200 0x22DF 0x22FC>;

		/* Master */
		rom_header_version_start_addr = <0x40>;
		rom_header_cal_data_start_addr = <0x100>;

		rom_header_cal_map_ver_start_addr = <0x50>;
		rom_header_isp_setfile_ver_start_addr = <0x54>;
		rom_header_project_name_start_addr = <0x5E>;

		rom_header_module_id_addr = <0xAE>; /* 0xA8 + reserved bytes */
		rom_header_sensor_id_addr = <0xB8>;

		rom_header_mtf_data_addr = <0x66>;

		rom_awb_master_addr = <0x2200>;
		rom_awb_module_addr = <0x2224>;
	};
};

&hsi2c_24 {
	s2mpb02_pmic@59 {
		regulators {
			s2mpb02-ldo8 {
				regulator-name = "S2MPB02_LDO8";
				regulator-min-microvolt = <1800000>;
				regulator-max-microvolt = <1800000>;
			};
		};
	};
};

&hsi2c_25 {
	status = "okay";
	expander_gpios: pcal6524@22 {
		compatible = "pcal6524,gpio-expander";
		gpio-controller;
		#gpio-cells = <2>;
		reg = <0x22>;
		pinctrl-names = "expander_reset_setting";
		pinctrl-0 = <&expander_reset_active>;
		pcal6524,gpio_start = <300>;
		pcal6524,ngpio = <24>;
		pcal6524,reset-gpio = <&gpg4 0 0>;
		pcal6524,support_initialize = <1>;
		/* config, 24 ~ 0, 1bit configure[1:input, 0:output]*/
		pcal6524,config = <0xFFFFFF>;    /* P2[11111111] P1[11111111] P0[11111111] */
		/* data_out, 24 ~ 0, 1bit configure[1:high, 0:low]*/
		pcal6524,data_out = <0x000000>;  /* P2[00000000] P1[00000000] P0[00000000] */
		/* pull_reg, 8 ~ 0, 2bit configure[00:no_pull, 01:pull_down, 10:pull_up, 11:not used] */
		pcal6524,pull_reg_p0 = <0x0000>; /* 00 00 00 00 / 00 00 00 00 */
		pcal6524,pull_reg_p1 = <0x0000>; /* 00 00 00 00 / 00 00 00 00 */
		pcal6524,pull_reg_p2 = <0x0000>; /* 00 00 00 00 / 00 00 00 00 */
	};
};

&pinctrl_0 {
	fm_int: fm-int {
		samsung,pins = "gpa2-1";
		samsung,pin-function = <0xf>;
		samsung,pin-pud = <0>;
		samsung,pin-con-pdn =<3>;
		samsung,pin-pud-pdn = <0>;
	};
};

&pinctrl_5 {
	hsi2c11_bus: hsi2c11-bus {
		samsung,pins = "gpp1-6", "gpp1-7";
		samsung,pin-function = <3>;
		samsung,pin-pud = <0>;
		samsung,pin-drv = <0>;
		samsung,pin-pud-pdn = <0>;
	};
};

&hsi2c_11 {
	status = "okay";
	pinctrl-names = "default";
	pinctrl-0 = <&hsi2c11_bus &fm_int>;

	rtcfmradio@64 {
		compatible = "richwave,rtc6213n", "rtc6213n";
		reg = <0x64>;
		interrupts = <1 0 0>;
		interrupt-parent = <&gpa2>;
		fmint-gpio = <&gpa2 1 0>;
		volume_db;
		radio_vol = <44 43 39 36 33 30 27 24 21 18 15 12 10 8 6 4>;
	};
};

&speedy {
	s2mps19mfd@00 {
		regulators {
			LDO29M {
				regulator-name = "vdd-fm-2p8";
				regulator-min-microvolt = <2800000>;
				regulator-max-microvolt = <2800000>;
				regulator-always-on;
				regulator-ramp-delay = <12000>;
				regulator-initial-mode = <3>;
			};
		};
	};
};